# Ansible Role: {{ role_name }}

## Description
<!-- TODO: Short description to summarise the repository. Remove this line. -->

## Installation
Install via git repository:

Include this role in your playbook's `requirements.yml` file:

```
---
roles:
# From GitHub, overriding the name and specifying a specific tag.
  - name: {{ role_name }}
    src: https://github.com/forlackofabetterusername/ansible-collection-{{ role_name }}
    version: main
```

## Requirements
None.

## Dependencies
None.

## Role Variables
Available variables are listed below, along with default values (see `defaults/main.yml`):
<!-- TODO: Provide Variables and describe them. Remove this line. -->

```yaml
{{ role_name}}_example: []
```

## Example Playbook
```yaml
- hosts: all
  roles:
    - {{ role_name }}
```

## License
MIT

## Author Information
This role was created by [Alex Muir](https://www.linkedin.com/in/alexmuir97/).
